<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GAS Investments</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'gas_dash/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'gas_dash/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'gas_dash/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'gas_dash/css/landing-page.min.css' %}" rel="stylesheet">
    <link href="{% static 'gas_dash/css/dashboard.css' %}" rel="stylesheet">
    
    <!-- Snail icon -->
    <link rel="icon" href="https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/0/07/Waving_Snail.png/revision/latest?cb=20120729225549">
    {% block head_files %}

    {% endblock head_files %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-dark fixed-top" id="main_nav">
        <a class="navbar-brand" href="{% url 'gas_dash:index' %}">GAS Dash</a>
        <a class="btn btn-secondary" href="{% url 'gas_dash:logout' %}">Logout</a>
    </nav>

    <!-- Sidebar and Main Page -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'gas_dash:index' %}">
                        <span data-feather="home"></span>
                        Dashboard
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'gas_dash:add_stock' %}">
                    <span data-feather="home"></span>
                      Add Stock
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'gas_dash:add_trade' %}">
                    <span data-feather="home"></span>
                      Add Trade
                    </a>
                  </li>
                  {% block sidebar_content %}
                  {% endblock sidebar_content %}
                  <div id="loading-gif"  style="display:none;z-index: 2;">
                    <h5 class="text-muted">Loading...</h5>
                    <img src="{% static 'gas_dash/img/snail_loading.gif' %}" alt="loading-gif">
                  </div>
                </ul>
              </div>
              <p class="text-muted small float-bottom" id="iex_attr">Data provided for free by <a href="https://iextrading.com/developer/" target="_blank">IEX</a></p>
            </nav>
            <main role="main" class="col-md-10 offset-md-2">
              <div class="container-fluid">
                {% if messages %}
                <div class="messages col-md-4">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show">
                      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% block content %}

                {% endblock content %}
              </div>
            </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'gas_dash/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'gas_dash/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    {% block footer_files %}
    {% endblock footer_files %}
  </body>

</html>